<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MAILER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/left-menu.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container {#-fluid#}">
    <div class="row"><br>
        <div class="jumbotron" style="background-image: url(/public/img/way2pay.png);background-position: center center;background-repeat: no-repeat;">
            <h1 class="text-center">Mail!</h1>
        </div>

        <div class="col-md-12 ">
            <br>
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>                                		