{% extends '::layout.html.twig' %}
{% block body %}
    {%if missive is defined and missive%}
        {{ result|raw }}
    {%endif%}
<h2>There is an example of usage mail generator.<br></h2>
<a class="btn btn-primary pull-right" href="{{   path('acme_mail_mailer') }}">
    {%if missive is defined and missive%}
        <b>Send another mail!</b>
    {%else%}
        <b>Send a mail!</b>
    {% endif %}
</a>
{% endblock %}